body {
    background: #eee;
}

#main-container {
    margin-top: 52px;
}

.ui-pointer {
    cursor: pointer;
}


.page-content {
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 6px #888;
    padding: 20px;
}

.page-margin {
    margin: 40px 0;
}

.page-content h3 {
    margin-top: 0;
}

.page-content p {
    font-size: 16px;
}

.ui-grid {
    margin: 12px 0;
}

.ui-grid .ui-multiselect span.ui-icon {
    margin-top: 0;
}

.ui-multiselect-header ul li {
    padding: 0 6px 0 0 !important;
}

.ui-grid .add-child-icon,
.ui-grid .goto-link {
    cursor: pointer;
    text-decoration: none;
    color: #888 !important;
}

.ui-grid .slick-cell a {
    cursor: pointer;
}

.ui-grid .add-child-icon:hover,
.ui-grid .goto-link:hover {
    color: #444;
}

.ui-grid .goto-link {
    float: right;
}

.ui-grid .goto-link i {
    margin-right: 5px;
}

.children-list ol {
    margin-left: -24px;
}

.children-list li {
    margin-top: 6px;
}

.children-list li span {
    color: #888;
}


/*.treeview .node-selected {*/
    /*background-color: #fff1ca !important;*/
    /*color: #000 !important;*/
/*}*/


.male-member {
    color: #2563d3;
    margin-right: 5px;
}

.female-member {
    color: #e062e6;
    margin-right: 5px;
}


.preview-dialog {
    padding-bottom: 10px;
}

.preview-dialog hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.preview-dialog .row {
    margin-right: 0;
}

.preview-dialog .row > div {
    margin-bottom: 12px;
}

.preview-dialog .detail b {
}

.preview-dialog .detail span {
    position: absolute;
    right: 10px;
    left: 110px;
    border-bottom: 1px solid #ccc;
    text-overflow: ellipsis;
}

.preview-dialog .close-button {
    float: right;
    margin-top: 0;
}

.preview-dialog .ui-title {
    text-align: center;
}

.preview-dialog .ui-title .name {
    color: #444;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.preview-dialog .ui-title .info {
    color: #666;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: -5px;
}

.preview-dialog .ui-note {
    color: #bbb;
}