body{
    background-color: #000;
    background: url("../../media/image/bamboo-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #555;
}

.modal-content {
    position: relative;
    background-color: rgba(255,255,255,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-dialog {
    max-width: 600px;
    margin: 150px auto;
}

.text-right {
    text-align: right;
    margin-bottom: -20px;
}

.no-margin {
    margin: 0;
}