body {
    background: #2196f3;
}

#flash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-family: 'MS Sans Serif', sans-serif, Verdana, Arial;
    text-align: center;
}

#flash-screen .content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 260px;
    height: 100px;
    margin-left: -130px;
    margin-top: -100px;
}

#flash-screen h1 {
    font-weight: normal;
    font-size: 40px !important;
}