<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="text-center no-margin">Quên mật khẩu</h3>
        </div>
        <div class="modal-body">
            <div id="form_container"></div>
        </div>
    </div>
</div>


<script>
System.import('app/ui').then(function (ui) {
    ui.render('Login.getForgotPasswordForm', null, form => {
        form.get('cancel').on('click', () => {
            ui.Util.redirect(absUrl);
        });

        form.on('saved', e => {
            ui.Util.redirect(absUrl);
        });
    });
});
</script>