<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Gia Phả Hoàng Ngọc</h1>
        </div>
        <div class="modal-body">
            <form  method="post">
                {% if invalid %}
                <div class="alert alert-danger" style="margin-bottom: 10px;">
                    <i class="fa fa-close" style="margin-right: 5px"></i> Email, tài khoản hay mật khẩu không hợp lệ.
                </div>
                {% endif %}

                <div class="form-group">
                    <input class="form-control input-lg" placeholder="Email hay Tài khoản" name="username"/>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control input-lg" placeholder="Mật Khẩu" name="password"/>
                </div>

                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-block btn-lg btn-primary" value="Đăng nhập"/>

                    <div style="margin-top: 10px">
                        <span class="pull-right"><a href="registry">Đăng ký</a></span>
                        <span>&nbsp;</span>
                        <span class="hide"><a href="forgot-password">Quên mật khẩu</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
