<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="text-center no-margin">Đăng Ký Tài Khoản Mới</h3>
        </div>
        <div class="modal-body">
            <input style="display:none" type="text" name="fakeUsername"/>
            <input style="display:none" type="password" name="fakePassword"/>

            <div id="form_container"></div>
        </div>
    </div>
</div>



<script>
System.import('app/ui').then(function (ui) {
    ui.render('Login.getRegistryForm', null, form => {
        form.get('cancel').on('click', () => {
            ui.Util.redirect(absUrl);
        });
        form.on('saved', e => {
            ui.Util.redirect(absUrl);
        });
    });
});
</script>