<br/>

<div class="row detail">
    <div class="col-md-6">
        <b>Cha:</b>
        <span>
            {% if father %}
                {{ father.generation }}.{{ father.position }}. <i class="fa fa-male male-member"></i>
                <a class="ui-pointer" onclick="FamilyTree.openMemberDialog({{ father.member_id }})">{{ father.full_name }}</a>
            {% else %}
                -
            {% endif %}
        </span>
    </div>

    <div class="col-md-6">
        <b>Me:</b>
        <span>
            {% if mother %}
                {{ mother.generation }}.{{ mother.position }}. <i class="fa fa-female female-member"></i>
                <a class="ui-pointer" onclick="FamilyTree.openMemberDialog({{ mother.member_id }})">{{ mother.full_name }}</a>
            {% else %}
                -
            {% endif %}
        </span>
    </div>

    <div class="col-md-6"><b>Ngày sinh:</b> <span>{{ member.dob }}</span></div>
    <div class="col-md-6"><b>Ngày mất:</b> <span>{{ member.dod }}</span></div>
    <div class="col-md-12"><b>Nơi an táng:</b> <span>{{ member.burial_place }}</span></div>
</div>


<hr/>
<div class="row detail">
    {% if spouses %}
        {% for spouse in spouses %}
            <div class="col-md-12">
                {% if loop.index == 1 %} <b>{{ spouseLabel }}:</b> {% else %} <b>&nbsp;</b> {% endif %}
                <span>
                    {{ spouse.generation }}.{{ spouse.position }}.

                    {% if spouse.gender == 1 %}
                        <i class="fa fa-male male-member"></i>
                    {% else %}
                        <i class="fa fa-female female-member"></i>
                    {% endif %}

                    <a class="ui-pointer" onclick="FamilyTree.openMemberDialog({{ spouse.member_id }})">{{ spouse.full_name }}</a>

                    {% if spouse.note %}
                        <spam class="ui-note">- {{ spouse.note }}</spam>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12"><b>{{ spouseLabel }}:</b> <span>-</span></div>
    {% endif %}
</div>


<hr/>

<div class="row detail">
    {% if children %}
        {% for child in children %}
            <div class="col-md-12">
                {% if loop.index == 1 %} <b>Con:</b> {% else %} <b>&nbsp;</b> {% endif %}
                <span>
                    {{ child.generation }}.{{ child.position }}.

                    {% if child.gender == 1 %}
                        <i class="fa fa-male male-member"></i>
                    {% else %}
                        <i class="fa fa-female female-member"></i>
                    {% endif %}

                    <a class="ui-pointer" onclick="FamilyTree.openMemberDialog({{ child.member_id }})">{{ child.full_name }}</a>

                    {% if child.note %}
                        <spam class="ui-note">- {{ child.note }}</spam>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12"><b>Con:</b> <span>-</span></div>
    {% endif %}
</div>

<hr/>

<div class="row detail">
    <div class="col-md-12"><b>Địa chỉ:</b> <span>{{ member.address }}</span></div>
    <div class="col-md-6"><b>Email:</b> <span>{{ member.email }}</span></div>
    <div class="col-md-6"><b>Điện thoại:</b> <span>{{ member.phone }}</span></div>
    <div class="col-md-12"><b>Trang web:</b> <span>{{ member.website }}</span></div>
</div>

{% if member.other_info != '' %}
    <hr/>

    <div class="other-info">
        {{ member.other_info | raw }}
    </div>
{% endif %}
