<div class="container">
    <div class="page-content page-margin">
        <p style="text-align: center;"><strong>B&Agrave;I VĂN TẾ</strong></p>
        <p style="text-align: center;"><strong>Ng&agrave;y Kỵ Thuỷ Tổ Khai Canh</strong></p>
        <p style="text-align: center;">(Ng&agrave;y trước l&agrave;m bằng chử H&aacute;n, ng&agrave;y nay dịch sang chử Việt để tiện dụng)</p>
        <p>&nbsp;</p>
        <p>Phối Thượng Khải Tổ cao si&ecirc;u Ho&agrave;ng Ti&ecirc;n c&ocirc;ng tinh b&agrave; t&ocirc;n Thần liệt vị chư vị tiền.</p>
        <p>Phụng truy lục Thượng Triệu Tổ Ho&agrave;ng Ti&ecirc;n C&ocirc;ng tinh b&agrave; t&ocirc;n thần liệt vị vị tiền.</p>
        <p>Đệ nhất thế Thuỷ Tổ thượng khai canh đặc tấn phụ quốc c&ocirc;ngThượng tướng qu&acirc;n Đ&ocirc; Hiến Ngự sử vinh lộc đại phu, sắc phong Nhựt Bảo Trung Hưng. Linh ph&ograve; chi thần, trước gia tặng Đoan t&uacute;c Ho&agrave;ng Qu&yacute; C&ocirc;ng tinh b&agrave; t&ocirc;n thần liệt vị.</p>
        <p>&nbsp;</p>
        <p>Đệ Nhị Thế Thuỷ Tổ khai canh. Đ&ocirc;ng thường t&ugrave;ng ti&ecirc;n Ch&uacute;a. Đặc tấn thượng trụ quốc c&ocirc;ng đại phu. Khai canh - khai khẩn - khai tiểu hải m&ocirc;n. Hửu đại c&ocirc;ng ư quốc, sắc phong Nhựt Bảo Trung Hưng Linh ph&ograve; chi thần. Trước gia tặng Đoan t&uacute;c Ho&agrave;ng Qu&yacute; C&ocirc;ng tinh b&agrave; t&ocirc;n thần liệt vị.</p>
        <p>&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Thượng Thượng Thượng Tổ - &nbsp;Thượng Thượng Tổ -&nbsp; Thượng Tổ.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Cao Cao Cao Tổ -&nbsp; Cao Cao Tổ -&nbsp; Cao Tổ.</p>
        <p>&nbsp;</p>
        <p>Cao Tằng tổ khảo tỷ cập nội b&aacute; th&uacute;c huynh đệ, c&ocirc; nhi tỷ muội, hửu danh v&ocirc; danh, hửu vị v&ocirc; danh.</p>
        <p>Đẳng chư hương hồn đồng lại phối hưởng.</p>
        <p>&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Việt cung duy ti&ecirc;n linh.</p>
        <p>&nbsp;</p>
        <p>Một đấng h&agrave;o hoa, ngh&igrave;n thu thanh sử, c&ocirc;ng nghiệp trải bao năm kh&ocirc;ng xiết kể. Thuỷ Tổ Ho&agrave;ng Qu&yacute; C&ocirc;ng c&ograve;n để tiếng oai phong, văn chương them vẻ, dẩu c&oacute; ai t&agrave;y. Tỉnh Thanh Ho&aacute; phải v&acirc;ng lời sứ mạng.</p>
        <p>&nbsp;</p>
        <p>Nhớ linh xưa-Hạnh chất khoan từ, t&aacute;nh t&igrave;nh si&ecirc;u quảng. Ngo&agrave;i 3 tỉnh r&otilde; rang cận gi&aacute;p, g&aacute;nh hiếu trung them đẹp phần tu mi. V&agrave;o 2 ch&acirc;u xếp đặt qu&acirc;n binh. V&ugrave;ng tiết liệt phải vui long thần tử : V&acirc;ng lệnh ấn Ho&agrave;ng &Acirc;n ph&oacute; th&aacute;c, tuốt gươm linh trừ đẩng ngoại x&acirc;m. C&ocirc;ng bi&ecirc;n thuỳ Th&aacute;nh đức triệu bang. &Ocirc;I ! Kiếm bạc tảo thanh tặc khấu. Tr&ecirc;n v&igrave; nước lo tr&ograve;n phận sự, ch&iacute; tang bồng v&ugrave;ng vẩy bốn phương. Dưới thương d&acirc;n lo lắng c&ocirc;ng lao, t&agrave;i thao lược dọc ngang t&aacute;m cỏi. Cửa Thuận An trấn thủ. Chạnh long thương con đỏ nỗi t&acirc;n thoan. Miền hải ngạn Tam giang them dạ cảm d&acirc;n đen nhiều khổ n&atilde;o. Lời trung trực khỏi đ&ocirc;n bệ tấu. Ch&iacute; v&ocirc; tư bao quản nhọc nhằn. D&agrave;y c&ocirc;ng dẫn thuỷ nhập điền, gắng sức tu kiều bồi lộ. Ơn hiệp t&aacute;c d&agrave;y c&ocirc;ng canh khẩn. Ch&iacute; thương d&acirc;n mười vị vẫn chung lo. X&atilde; Kế M&ocirc;n chung hưởng đất đai, thong đường s&aacute; rat ay g&aacute;nh v&aacute;c. Tr&ecirc;n ngự b&uacute;t ch&acirc;u ph&ecirc; hiển đạt, ch&uacute;c đ&ocirc;ng thường Thượng Trụ Quốc C&ocirc;ng. Dưới Thừa &acirc;nvux lổ vinh phong, c&ocirc;ng khai khẩn hải m&ocirc;n đại đạo. Quy mạng đ&atilde; v&acirc;ng lời ch&iacute;nh gi&aacute;o. Trung Ư Qu&acirc;n-Dư hiếu Ư gia. Ho&agrave;ng vũ c&ograve;n để tiếng hi&ecirc;n ngang. C&ocirc;ng hữu th&agrave;nh di danh, hữu toại viết y hy. Tuyết bủa song Ho&agrave;ng M&acirc;y giăng non th&aacute;i. Tuổi thọ tram năm l&agrave; đủ, dưới Ho&agrave;ng Đ&ocirc; c&ograve;n để dấu sơn h&agrave;. Xe hương một bước vui chơi. Tr&ecirc;n qu&acirc;n quốc luống &ocirc;m long đới lệ. Truy tặng Trung Hưng Linh Bảo. Sắc phong Đoan T&uacute;c T&ocirc;n thần. Lập miếu lăng Đại hải Tam Giang . Quy ch&aacute;nh điện thường năm hậu tế. C&acirc;y c&oacute; cội nhờ ơn Thi&ecirc;n v&otilde;, tr&ecirc;n 20 đời sinh hạ ch&aacute;u con. Nước c&oacute; nguồn cảm đức t&ugrave;ng quang. Ngo&agrave;i 400 d&acirc;n cư đ&ocirc;ng đảo, nay đếnTtrung Thu giai tiết, cũng ng&agrave;y hu&yacute; kỵ Tien Linh. Bạc chước phỉ nghi. Cung thần tế lễ.</p>
        <p>&nbsp;</p>
        <p>Trước Linh toạ ch&aacute;u con b&aacute;i hiến, đốt n&eacute;n hương xin thấu cỏi dạ đ&agrave;i. Tr&ecirc;n t&ocirc;n gian cảm c&aacute;ch tấm long đơn. D&acirc;ng ch&eacute;n rượu xin về Miền Cửu Địa.</p>
        <p>Trăm năm ghi nhớ : Sống anh linh, m&agrave; th&aacute;c cũng anh linh. Một cuộc kinh d&acirc;n tế như tại m&agrave; hưởng chi như tại&hellip;THương thay &ndash; xin hưởng &ndash; Cẩn c&aacute;o./.</p>
        <p>Kỵ Ng&agrave;i ng&agrave;y 25 v&agrave; 26 th&aacute;ng 8 &Acirc;m Lịch</p>
    </div>
</div>