<!doctype html>
<html>
<head>
    <title>{{ app.title }}{%  if app.env == 'dev' %} - Development {% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"  type="text/css" href="{{ absUrl }}media/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="{{ absUrl }}media/jqueryui@1.12.1/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet"  type="text/css" href="{{ absUrl }}media/fortawesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  type="text/css" href="{{ absUrl }}app/css/app.css">

    <script src="{{ absUrl }}media/jquery@3.1.1/jquery.min.js"></script>
    <script src="{{ absUrl }}js/jspm_packages/system.js"></script>
    <script src="{{ absUrl }}js/config.js"></script>
    <script>absUrl ='{{ absUrl }}'</script>
</head>
<body class="b3">