{% include 'header.twig' %}
{% include 'navbar.twig' %}

<div id="main-container">
    {{ content|raw }}
</div>

<script src="{{ absUrl }}media/tinymce-dist@4.6.4/tinymce.min.js"></script>
<script>System.import('app/ui')</script>

{% include 'footer.twig' %}
