<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ app.homePage }}">{{ app.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                {% for name, label in  menu %}
                    <li class="{{  activeMenu == name ? 'active' : '' }}"><a href="{{ name }}">{{ label }}</a></li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ loginName }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="hide"><a href="{{ absUrl }}thiet-lap">Thiết lập Tài Khoản</a></li>
                        <li class="divider hide"></li>
                        <li><a href="{{ absUrl }}logout">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>