<div class="container">
    <div class="page-content page-margin">
        <p align="center"><strong>PHỤNG TRUY LỤC</strong><strong>&nbsp;</strong></p>
        <p align="center"><strong>THƯỢNG THƯỢNG TRIỆU TỔ</strong></p>
        <p align="center"><strong>&nbsp;</strong></p>
        <p style="text-align: center;"><strong>HO&Agrave;NG NGỌC KHI</strong><strong>&nbsp;- Đại Lang</strong></p>
        <p>Ng&agrave;i qu&ecirc; ở xứ Bắc (kh&ocirc;ng r&otilde; thuộc tỉnh n&agrave;o), đ&atilde; xu&ocirc;i nam về sinh sống tại xứ Thuận Ho&aacute;. Tại đ&acirc;y, ng&agrave;i lo khai canh lập nghiệp, x&acirc;y dựng x&oacute;m l&agrave;ng v&agrave;o giữa thế kỷ XV.</p>
        <p>Ng&agrave;i l&agrave; một trong 15 vị Thỉ Tổ của 12 họ, tham gia, khai dựng n&ecirc;n ng&ocirc;i l&agrave;ng Hiền Lương sau khi di chuyển v&agrave;o nam, thời kỳ Trịnh -Nguyễn ph&acirc;n tranh.</p>
        <p>Ng&agrave;i c&oacute; c&ocirc;ng đức rất lớn, cho n&ecirc;n t&ecirc;n họ của ng&agrave;i đ&atilde; được ghi l&ecirc;n h&agrave;ng đầu trong c&aacute;c bản Văn Tế của L&agrave;ng Hiền Lương từ xưa tới nay.</p>
        <p>Trong dịp chỉnh trang ng&ocirc;i ch&ugrave;a l&agrave;ng v&agrave;o ng&agrave;y M&ugrave;ng 8 th&aacute;ng 6 năm B&iacute;nh Dần- 1806. Đầu thế kỷ XIX. Triều đ&igrave;nh Huế đ&atilde; phong tước:</p>
        <p style="text-align: center;"><strong><em>&ldquo;DẬT BẢO TRUNG HƯNG T&Ocirc;N THẦN&rdquo;</em></strong></p>
        <p style="text-align: center;">C&oacute; nghĩa l&agrave;: Người c&oacute; c&ocirc;ng x&acirc;y dựng đất nước.</p>
        <p>Ng&agrave;i sinh ra:&nbsp; HO&Agrave;NG NGỌC KH&Aacute;NH - Đại Lang</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="text-align: center;"><strong>&nbsp;</strong><strong>HO&Agrave;NG NGỌC KH&Aacute;NH</strong><strong>&nbsp;- Đại Lang</strong></p>
        <p>Ng&agrave;i được sinh trưởng v&agrave;o những năm cuối thế kỷ XV.&nbsp; Cũng như th&acirc;n phụ của Ng&agrave;i, đ&atilde; đ&oacute;ng g&oacute;p c&ocirc;ng sức x&acirc;y dựng L&agrave;ng Hiền Lương từ những ng&agrave;y đầu ti&ecirc;n,V&igrave; vậy t&ecirc;n họ của Ng&agrave;i cũng được d&acirc;n l&agrave;ng đặt ở vị tr&iacute; rất trang trọng trong những b&agrave;i văn tế, lể lạc lớn trong l&agrave;ng.</p>
        <p>Ng&agrave;y Kỵ, phần mộ của Tổ &Ocirc;ng v&agrave; Tổ B&agrave; đều kh&ocirc;ng rỏ.</p>
        <p>Ng&agrave;i sanh hạ được một người con trai, đ&oacute; l&agrave;: HO&Agrave;NG NGỌC KHAI</p>
        <p>&nbsp;</p>
        <p align="center"><strong>HO&Agrave;NG NGỌC KHAI</strong><strong>&nbsp;</strong></p>
        <p>Mộ t&aacute;ng tại l&agrave;ng Cao Bang, huyện Quảng Điền, Tỉnh Thừa Thi&ecirc;n, tại xứ B&agrave;u Dưa. &Ocirc;ng v&agrave; B&agrave; đều được lập chung một Mộ. Hằng năm, cứ đến M&ugrave;ng một th&aacute;ng chạp &Acirc;m lịch, cả ba họ đều cử người tập trung để tảo mộ, v&agrave; tổ chức c&uacute;ng tế tại họ Ho&agrave;ng ở l&agrave;ng Hiền Lương.</p>
        <p>V&igrave; c&ocirc;ng trạng to lớn của Ng&agrave;i, n&ecirc;n :</p>
        <p>-Thời Vua DUY T&Acirc;N đ&atilde; được sắc phong:</p>
        <p style="text-align: center;"><strong><em>Thuỷ Tổ Khai Canh</em></strong></p>
        <p style="text-align: center;"><strong><em>&ldquo;Nhật Bảo Trung Hưng- Linh Ph&ograve; Chi Thần&rdquo;</em></strong></p>
        <p>&nbsp;</p>
        <p>Đến thời Vua KHẢI ĐỊNH, khi triều đ&igrave;nh l&agrave;m Tứ Tuần cho nh&agrave; vua, đ&atilde; c&oacute; &acirc;n chiếu sắc phong tước:</p>
        <p style="text-align: center;">&ldquo;<strong><em>Gia Tặng Đoan T&uacute;c T&ocirc;n Thần&rdquo;</em></strong></p>
        <p>Hai điệu sắc phong n&agrave;y, do họ Ho&agrave;ng tại Hiền Lương nhận l&atilde;nh v&agrave; phụng thờ.</p>
        <p>Kỵ &Ocirc;ng v&agrave;o c&aacute;c ng&agrave;y M&ugrave;ng 9 v&agrave; M&ugrave;ng 10 th&aacute;ng 6 &Acirc;m Lịch.</p>
        <p>Ng&agrave;i sanh hạ được 3 người con trai:</p>
        <p>1. HO&Agrave;NG NGỌC CHỮ: Khai canh L&agrave;ng Hiền Lương, huyện Phong Điền, tỉnh Thừa Thi&ecirc;n, Ng&agrave;i l&agrave; Thỉ Tổ họ Ho&agrave;ng tại Hiền Lương.</p>
        <p>2. HO&Agrave;NG NGỌC KHẮC: Đặc Tấn Phụ Quốc C&ocirc;ng-Thượng Tướng Qu&acirc;n Đ&ocirc; Hiến Ngự Sứ vinh lộc đại phu, Thượng khai canh. Khai canh L&agrave;ng Kế M&ocirc;n, huyện Phong Điền, tỉnh Thừa Thi&ecirc;n. Ng&agrave;i l&agrave; Thỉ Tổ họ HO&Agrave;NG l&agrave;ng Kế M&ocirc;n.</p>
        <p>3. HO&Agrave;NG NGỌC H&Ugrave;NG: Khai canh l&agrave;ng Cao Bang, huyện Quảng Điền, tỉnh Thừa Thi&ecirc;n, v&agrave; Ng&agrave;i l&agrave; Thỉ Tổ họ Ho&agrave;ng tại l&agrave;ng Cao Bang.</p>
    </div>
</div>